 body {
    margin: 0;
    font-family: sans-serif;
    'Righteous';
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Mark My Words", "Open Sans";
    src: url("css/fonts/Mark My Words.ttf") format("TrueType font");
    src: url("css/fonts/Open Sans.ttf") format("TrueType font");
}


#homeWrapper {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: auto;
     grid-template-areas:
         "logo nav nav nav nav buttons"
         "header header header header header header"
         "circles circles circles circles circles circles"
         "whitespace whitespace whitespace whitespace whitespace whitespace "
         "price1 price1 price1 price1 price1 price1"
         "detail detail detail detail detail detail"
         "border border border border border border"
         "footer footer footer footer footer footer";
 }

 .logo {
    grid-area: logo;
    margin-top: 5px;
    width: auto;
    text-align: center;
    grid-area: logo;
    margin-left: 10px;
    padding: 0;
}

/*End Logo*/

/*Nav */

.nav {
    grid-area: nav;
    text-align: center;

}

nav ul {
     border-radius: .5em;
    border: 2px solid #009fff;
    list-style-type: none;
    margin: 10px;
    padding-top:0;
    display: grid;
    height: 50px;
    grid-template: auto / repeat(5, 1fr);
    grid-gap: px;
    align-content: center;
}
nav ul li a {
    color: black;
    text-decoration: none;

}
nav a:hover{
    color: #009fff;
}


/* End Nav */

/* Buttons */

.button {
    margin-top: 1em;
    grid-area: buttons;
    margin-right: 20px;
    /*padding-top: 30px;*/
}

.navbuttons {
    display: grid;
    height: auto;
    grid-template: auto / repeat(2, 1fr);
    /*align-content: center;*/
}
.navbuttons a {
    text-decoration: none;
    color: white;
}

.button1 {
    width: 100px;
    background-color: #009fff;
    color: #ffffff;
    border: 2px solid #e7e7e7;
    border-radius: .5em;
    padding: .5em;
    font-size: 1.1em;
}

#button2 {
    width: 100px;
    /*padding: 0px 100px 0px 200px;*/
    background-color: #ffffff;
    color: black;
    border: 2px solid lightgrey;
    border-radius: .5em;
    padding: .5em;
    font-size: 1.1em;
    margin-bottom: ;

}
#button2 a {
    color:black;
}

/*START HEADER*/
/* ****************************HEADER UPDATE******************************/
header {
    grid-area: header;
}
        .elenapic{
        margin-bottom: 3.2rem;
        width: 400px;}
        .header {
            text-align: center;
            grid-area: header;
            height: auto;
            background-color: #009FFF;
            background-size: cover;

        }
/* ****************************HEADER UPDATE******************************/

/*END HEADER*/

 .circles {
     grid-area: circles;
     height: 13em;
     margin-top: -60px;
     text-align: center;
 }

 .circle2 {
     display: inline-block;
     height: 80px;
     width: 155px;
     padding-top: 60px;
     line-height: 18px;
     border-radius: 50%;
     background-color: white;
     border: 3px solid #009fff;
     color: #009fff;
     font-size: 1.2em;
     margin: 0 0 0 -20px;
     box-shadow: 10px 15px 30px rgba(0, 0, 0, .5);
 }

.middle {
    position: relative;
    z-index: 2
}

.right {
    position: relative;
    z-index: 1;
}

 /*#middleCircle{
    background-color: aqua;
}*/
 /*---------------BEGIN Lee----------------*/
 /*
 .whitespace {
     grid-area: whitespace;
     background-color: white;
     width: 100%;
     height: 1rem;
 }*/

 .cardcon {
     grid-area: price1;
     height: 20.3rem;
     width: 100%;
     margin: 10px 10px 10px 10px;
     text-align: center;
     display: block;
 }

 .card {
     display: inline-block;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
     transition: 0.4s;
     width: 30%;
     max-height: 100%;
     border-style: solid;
     border-width: 1.5px;
     border-radius: 8px;
     border-color: darkgray;
     background-color: #f0f0f0;
     margin-right: 0px;

 }

 #middleCircle {
     transition: 0.3s;
 }

 .card:hover,
 #middleCircle:hover {
     background-color: white;
     border-color: #0AB1D0;
     border-width: thick;
     z-index: 1;
     box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 5);
 }

 .breaker {
     border: 2px solid #e3e3e3;
     margin-bottom: 1rem;
 }
/******************************* BEGIN UPDATE WITH HEADER*********************************/
/******************************* priceStyles.css*********************************/
 .circle3 {
     display: inline-block;
     height: 7rem;              /*CHECK THIS TOO*/
     width: 8.13rem;            /* CHANGED FROM 130PX*/
     border-radius: 50%;
     background-color: #0AB1D0;
     font-size: 1.5em;
     transition: .3s;
     box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, .5);
 }
/******************************* END UPDATE WITH HEADER*********************************/

 .circle3 p {
     color: white;
     line-height: 0;
     padding: 45px 0px;
     text-align: center;
     margin-top: 10%;
     font-weight: 800;
     font-size: 1em;
 }

 .cardContainer {
     padding: 9px 16px;
     text-align: center;
 }

 .circle3:hover {
     box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, .5);
 }

 #startnowbutton {
     width: 60%;
     margin-bottom: 1rem;
     background-color: #009fff;
     border-radius: 1em;
     padding: .5em;
     font-size: 1.1em;
     transition: 0.3s;
     box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
 }

 #startnowbutton:hover {
     box-shadow: 0px 5px 1px 2px rgba(0, 0, 0, 0.2);
 }

 #startnowbutton a {
     text-decoration: none;
     color: #ffffff;
     font-weight: bolder;
 }

 .detailContainer {
     grid-area: detail;
     background-color: ;
     width: 100%;
     height: 100%;
 }

 #detailText {
     margin-left: 60px;
     margin-right: 60px;
     color: darkslategray;
     font-size: 1.2em;
     font
 }

 .borderSpace {
     grid-area: border;
     background-color: #009FFF;
     width: 100%;
     height: 5rem;
 }

/* Footer */

 .footer {
     grid-area: footer;
     height: 8em;
     background-color: black;
 }

 .footer p {
     color: white;
     text-align: center;
     font-size: 1.2em;
     font-family: "Open Sans";
     margin: 25px 0 0 0;
     margin-right: 18px;
 }

 .social-media {
     margin: 0 auto;
     width: 250px;
 }

 .social-media div {
     float: left;
     margin-left: 5px;
     margin-right: 1px;
 }

 .social-media a {
     display: block;
     width: 50px;
     height: 47px;
     text-indent: -9999px;
 }

 .social-media div.one {
     background: url('./images/socialmediaiconscropped.png') 0 0;
 }

 .social-media div.two {
     background: url('./images/socialmediaiconscropped.png') -48px 0;
 }

 .social-media div.three {
     background: url('./images/socialmediaiconscropped.png') -98px 0;
 }

 .social-media div.four {
     background: url('./images/socialmediaiconscropped.png')-148px 0;
 }

 /*End Footer*/




 /*---------------END LEE--------------------*/
 /*-**************************************************-*/
 
/* MEDIA QUERIES */
@media screen and (Max-width: 959px){ 
    .header {
    height: 200rem;
    margin-top: 10px;    
     /*   background-size: cover;*/
    }
}

/*TABLET PORTRAIT MEDIA QUERY*/
@media screen and (min-width:768px)and (max-width:959px){
    .header {
    height: 14.4em;
    margin-top: 10px;    
     /*   background-size: cover;*/
    }
    .button {
        display: none;
    }
    
     #homeWrapper {
         margin: 0;
         font-family: sans-serif;
         display: grid;
         width: 100%;
         grid-template-columns: repeat(6, 1fr);
         grid-template-rows: auto;
         grid-template-areas:
             "logo logo logo logo logo logo"
             "nav nav nav nav nav nav"
             "buttons buttons buttons buttons buttons buttons"
             "header header header header header header"
             "circles circles circles circles circles circles"
             "whitespace whitespace whitespace whitespace whitespace whitespace "
             "price1 price1 price1 price1 price1 price1"
             "detail detail detail detail detail detail"
             "border border border border border border"
             "footer footer footer footer footer footer";
     }

}
/*END TABLET PORTRAIT MEDIA QUERY*/

 @media screen and (min-width:480px) and (max-width:767px) {
     .button {
        display: none;
    }
    
     #homeWrapper {
         margin: 0;
         font-family: sans-serif;
         display: grid;
         width: 100%;
         grid-template-columns: repeat(6, 1fr);
         grid-template-rows: auto;
         grid-template-areas:
             "logo logo logo logo logo logo"
             "nav nav nav nav nav nav"
             "buttons buttons buttons buttons buttons buttons"
             "header header header header header header"
             "circles circles circles circles circles circles"
             "whitespace whitespace whitespace whitespace whitespace whitespace "
             "price1 price1 price1 price1 price1 price1"
             "detail detail detail detail detail detail"
             "border border border border border border"
             "footer footer footer footer footer footer";
     }

     
     .header {
         height: 15rem;

     }

     .circles{
         height: 20em;
     }
     
     .cardcon .card h2 {
         font-size: 1em;
     }

     #startnowbutton {
         width: 60%;
         margin-bottom: 1rem;
         background-color: #009fff;
         border-radius: 1rem;
         padding: .5em;
         font-size: .56em;
         transition: 0.3s;
         box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
     }   
}

/*START MOBIEL PORTRAIT*/
@media screen and (max-width:479px) {

     .button {
         display: none;
     }
     
     #homeWrapper {
         margin: 0;
         font-family: sans-serif;
         display: grid;
         width: 100%;
         grid-template-columns: repeat(6, 1fr);
         grid-template-rows: auto;
         grid-template-areas:
             "logo logo logo logo logo logo"
             "nav nav nav nav nav nav"
             "buttons buttons buttons buttons buttons buttons"
             "header header header header header header"
             "circles circles circles circles circles circles"
             "whitespace whitespace whitespace whitespace whitespace whitespace "
             "price1 price1 price1 price1 price1 price1"
             "detail detail detail detail detail detail"
             "border border border border border border"
             "footer footer footer footer footer footer";
     }

     .header {
         height: 10rem;
     }

     .circles {
         grid-area: circles;
         height: 27em;
         margin-top: 15px;
         text-align: center;
     }

     .cardcon {
         grid-area: price1;
         height: 60rem;
         max-width: 100%;
         margin: 10px 10px 0px 0px;
         text-align: center;
     }

     .card {
         display: block;
         box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
         transition: 0.4s;
         width: 100%;
         max-height: 100%;
         border-style: solid;
         border-width: 1.5px;
         border-radius: 8px;
         border-color: darkgray;
         background-color: #f0f0f0;
         margin-right: 0px;
         font-size: 1em;

     }

     .cardcon .card h2 {
         font-size: 1em;
     }

     #startnowbutton {
         width: 20%;
         margin-bottom: 1rem;
         background-color: #009fff;
         border-radius: 1rem;
         padding: .8rem;
         font-size: .55em;
         transition: 0.3s;
         box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
     }
     /*#detailTitle{
         margin-top:2rem;
         margin-left: 2rem;
         color: darkslategray;
     }*/
     #detailText {
         margin-top: 1.5rem;
         margin-bottom: 0px;
         padding-top: 0px;
     }
 }
 /*******************************************************/
 

 /********************* PRINT MEDIA QUERY **********/
 @media print {
     body {
         background: white;
         font-size: 12pt;
     }

     .header,
     .footer,
     .button,
     .nav {
         display: none;
     }

     .circles {
         display: block;
         height: initial;
         margin-top: initial;
         text-align: center;
     }
     #heading2{
         color: initial;
     }

     .circle2 {
         display: block;
         height: initial;
         width: initial;
         padding-top: initial;
         line-height: initial;
         border-radius: initial;
         background-color: initial;
         border: initial;
         color: initial;
         font-size: initial;
         margin: initial;
         box-shadow: initial;
     }

     .cardcon {
         display: block;
         height: initial;
         max-width: initial;
         margin: initial;
         text-align: initial;
         background-color: initial;
     }

     .card {
         display:block;
         box-shadow: initial;
         width: initial;
         max-height: initial;
         border-style: initial;
         border-width: initial;
         border-radius: initial;
         border-color: initial;
         background-color: initial;
         margin-right: initial;

     }

     .breaker {
         display: none;
     }

     .circle3 {
         display: block;
         height: initial;
         width: initial;
         border-radius: initial;
         background-color: initial;
         font-size: initial;
         box-shadow: initial;
     }

     .circle3 p {
         color: initial;
         line-height: initial;
         padding: initial;
         text-align: initial;
         margin-top: initial;
         font-weight: initial;
         font-size: initial;
     }

     .cardContainer {
         padding: initial;
         text-align: initial;
     }

     .card:hover {
         display: none;
     }

     #startnowbutton {
         display: none;
     }

     #startnowbutton:hover {
         transform: initial;
         box-shadow: initial;
     }

     #startnowbutton a {
         text-decoration: initial;
         color: initial;
         font-weight: initial;
     }
     
     .detailContainer {
         display: block;
     background-color: initial;
     width: initial;
     height: initial;
 }

 #detailText {
     margin-left: initial;
     margin-right: initial;
     color: initial;
     font-size: initial;
     font:initial;
 }

 .borderSpace {
display: none;
 }

 }

 /****************** ENDPRINT MEDIA QUERY *********/