body {
    margin: 0;
    font-family: sans-serif;
    'Righteous';
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Mark My Words", "Open Sans";
    src: url("css/fonts/Mark My Words.ttf") format("TrueType font");
    src: url("css/fonts/Open Sans.ttf") format("TrueType font");
}
	

#homeWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
            "logo nav nav nav nav buttons"
            "header header header header header header"
            "pic1 pic1 pic1 pic1 pic1 pic1"
            "pic2 pic2 pic2 pic2 pic2 pic2"
            "pic3 pic3 pic3 pic3 pic3 pic3"
            "pic4 pic4 pic4 pic4 pic4 pic4"
            "pic5 pic5 pic5 pic5 pic5 pic5"
            "border border border border border border"
            "footer footer footer footer footer footer";
    }
      
    .logo {
    grid-area: logo;
    margin-top: 5px;
    width: auto;
    text-align: center;
    grid-area: logo;
    margin-left: 10px;
    padding: 0;
}

/*End Logo*/

/*Nav */

.nav {
    grid-area: nav;
    text-align: center;

}

nav ul {
     border-radius: .5em;
    border: 2px solid #009fff;
    list-style-type: none;
    margin: 10px;
    padding-top:0;
    display: grid;
    height: 50px;
    grid-template: auto / repeat(5, 1fr);
    grid-gap: px;
    align-content: center;
}
nav ul li a {
    color: black;
    text-decoration: none;

}
nav a:hover{
    color: #009fff;
}


/* End Nav */

/* Buttons */

.button {
    margin-top: 1em;
    grid-area: buttons;
    margin-right: 20px;
    /*padding-top: 30px;*/
}

.navbuttons {
    display: grid;
    height: auto;
    grid-template: auto / repeat(2, 1fr);
    /*align-content: center;*/
}
.navbuttons a {
    text-decoration: none;
    color: white;
}

.button1 {
    width: 100px;
    background-color: #009fff;
    color: #ffffff;
    border: 2px solid #e7e7e7;
    border-radius: .5em;
    padding: .5em;
    font-size: 1.1em;
}

#button2 {
    width: 100px;
    /*padding: 0px 100px 0px 200px;*/
    background-color: #ffffff;
    color: black;
    border: 2px solid lightgrey;
    border-radius: .5em;
    padding: .5em;
    font-size: 1.1em;
    margin-bottom: ;

}
#button2 a {
    color:black;
}

    
    header {
        grid-area: header;
        height: 3em;
        background-color: white;
        color: black;
        text-align: center;
   }

   .mainpic {
       height: 20em;
       color: #000;
       text-align: center;
       filter: grayscale(100%);
       /*filter: brightness(50%);*/
   }  

   .mainpic:hover {
       filter: brightness(100%);
       color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

   .mainpic h1 {
       padding-top: 3.5em;
   }
   
   .pic1 {
       grid-area: pic3;
       align-self: center;
       background: url(../Services_assets/autistic2.png) no-repeat;
       background-position: center;
       background-size: cover;
       position: relative;
    }

   .pic2 {
        grid-area: pic5;
        background: url(../Services_assets/Massage3.png) no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }

   .pic3 {
        grid-area: pic1;
        background: url(../Services_assets/Pic-Senior%20Training2.png) no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
   }


   .pic4 {
        grid-area: pic4;
        background: url(../Services_assets/Workout%20Plan3.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }

   .pic5 {
        grid-area: pic2;
        background: url(../Services_assets/Children_4.png) no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
   }

   .contentInfo {
       grid-area: pic1;
       margin: 0 5em 5em 5em;
       line-height: 1.5em;
       border-width: .3em;
       border-color: #009fff;
       border-style: ridge;
       box-shadow: 5px 10px #888888;
       padding: 3.5em;   
    }

    .inset {
        margin-left: 3em;
        border-width: .1em;
        border-style: dotted;
        background-color: hsla(203, 100%, 51%, 0.1);    
        border-color: #009fff;
        padding: .75em;
    }


   .border {
        grid-area: border;
        background-color: #000;
        height: 6em;
    }

    /* Footer */

        .footer {grid-area: footer;    height: 8em;  background-color: black;}

        .footer p { color: white;  text-align: center;  font-size: 1.2em;
                    font-family: "Open Sans";           margin: 25px 0 0 0;
                    margin-right: 18px;}

        .social-media {
            margin: 0 auto;
            width: 250px;
        }

        .social-media div {
            float: left;
            margin-left: 5px;
            margin-right: 1px;
        }

        .social-media a {
            display: block;
            width: 50px;
            height: 47px;
            text-indent: -9999px;
        }

        .social-media div.one {
            background: url('../images/socialmediaiconscropped.png') 0 0;
        }

        .social-media div.two {
            background: url('../images/socialmediaiconscropped.png') -48px 0;
        }

        .social-media div.three {
            background: url('../images/socialmediaiconscropped.png') -98px 0;
        }

        .social-media div.four {
            background: url('../images/socialmediaiconscropped.png')-148px 0;
        }

/*End Footer*/



    /* MEDIA QUERIES */
@media screen and (Max-width: 959px){ 

}

/*TABLET PORTRAIT MEDIA QUERY*/
@media screen and (min-width:768px)and (max-width:959px){
    
   .button{
        display: none;
    }
    
    #homeWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
            "logo logo logo logo logo logo"
            "nav nav nav nav nav nav"
        "buttons buttons buttons buttons buttons buttons"
            "header header header header header header"
            "pic1 pic1 pic1 pic1 pic1 pic1"
            "pic2 pic2 pic2 pic2 pic2 pic2"
            "pic3 pic3 pic3 pic3 pic3 pic3"
            "pic4 pic4 pic4 pic4 pic4 pic4"
            "pic5 pic5 pic5 pic5 pic5 pic5"
            "border border border border border border"
            "footer footer footer footer footer footer";
    }    
 
}
/*END TABLET PORTRAIT MEDIA QUERY*/

/*MOBILE LANDSCAPING MEDIA QUERY*/
@media screen and (min-width:480px) and (max-width:767px){
    
   .button{
        display: none;
    }
    
    #homeWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
            "logo logo logo logo logo logo"
            "nav nav nav nav nav nav"
        "buttons buttons buttons buttons buttons buttons"
            "header header header header header header"
            "pic1 pic1 pic1 pic1 pic1 pic1"
            "pic2 pic2 pic2 pic2 pic2 pic2"
            "pic3 pic3 pic3 pic3 pic3 pic3"
            "pic4 pic4 pic4 pic4 pic4 pic4"
            "pic5 pic5 pic5 pic5 pic5 pic5"
            "border border border border border border"
            "footer footer footer footer footer footer";
    }
    
   }
/*END MOBILE LANDSCAPING MEDIA QUERY*/

/*MOBILE PORTRAIT MEDIA QUERRY*/
@media screen and (max-width:479px){

    .header {
    background-size: 100%;
    background:

}
    .maintext {
    text-align: center;
    margin-top: 12%;
    border: none solid white;
    font-size: 2.8em;
    color: white;
    text-shadow: 5px 5px black;
    margin-bottom: 0px;
}
    .headerbuttonn {
    margin-top: 2%;
    margin-bottom: 0%;
}
    
    .circles {
    grid-area: circles;
    height: 13em;
    margin-top: -10px;
    text-align: center;
}

.circle2 {
    display: inline-block;
    height: 50px;
    width: 100px;
    padding-top: 20px;
    line-height: 18px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #009fff;
    color: #009fff;
    font-size: .7em;
    margin: 0 0 0 -20px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, .5);
}

    .button{
        display: none;
    }
    
    #homeWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
            "logo logo logo logo logo logo"
            "nav nav nav nav nav nav"
        "buttons buttons buttons buttons buttons buttons"
            "header header header header header header"
            "pic1 pic1 pic1 pic1 pic1 pic1"
            "pic2 pic2 pic2 pic2 pic2 pic2"
            "pic3 pic3 pic3 pic3 pic3 pic3"
            "pic4 pic4 pic4 pic4 pic4 pic4"
            "pic5 pic5 pic5 pic5 pic5 pic5"
            "border border border border border border"
            "footer footer footer footer footer footer";
    }
}

/*END MOBILE PORTRAIT MEDIA QUERRY*/

        @media print {
            body {
                background: white;
                font-size: 12pt;
            }

            .header,
            .hr,
            .footer,
            .button,
            .nav,
            .headline, .button1 {
                display: none;
            }
   }

   .mainpic {
height: initial;
       color: initial;
       text-align: initial;
       filter: initial;
   }  

   .mainpic:hover {
display: none;
            }
   .mainpic h1 {
       padding-top: initial;
   }
   
   .pic1 {
       display: block;
       align-self: initial;
       background: initial;
       background-position: initial;
       background-size: initial;
       position: initial;
    }

   .pic2 {
               display: block;
       align-self: initial;
       background: initial;
       background-position: initial;
       background-size: initial;
       position: initial;
    }

   .pic3 {
               display: block;
       align-self: initial;
       background: initial;
       background-position: initial;
       background-size: initial;
       position: initial;
   }


   .pic4 {
               display: block;
       align-self: initial;
       background: initial;
       background-position: initial;
       background-size: initial;
       position: initial;
    }

   .pic5 {
               display: block;
       align-self: initial;
       background: initial;
       background-position: initial;
       background-size: initial;
       position: initial;
   }

   .contentInfo { display: none;
      /*display: block;
       margin: 0 5em 5em 5em;
       line-height: 1.5em;
       border-width: .3em;
       border-color: #009fff;
       border-style: ridge;
       box-shadow: 5px 10px #888888;
       padding: 3.5em;  */ 
    }

    .inset {display: none;
        /*margin-left: 3em;
        border-width: .1em;
        border-style: dotted;
        background-color: hsla(203, 100%, 51%, 0.1);    
        border-color: #009fff;
        padding: .75em;*/
    }


   .border {
display: none;
    }
            div .mainpic img {
                display: none;
            }
        }

        /****************** ENDPRINT MEDIA QUERY *********/
		