        body {margin: 0;  font-family: sans-serif;  width: 100%;}
        * {padding: 0;     margin: 0;}

        @font-face { font-family: "Mark My Words", "Open Sans";
            src: url("css/fonts/Mark My Words.ttf") format("TrueType font");
            src: url("css/fonts/Open Sans.ttf") format("TrueType font");}

/*Grid Styles*/
        #Container {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
                "logo nav nav nav nav buttons"
                "header header header header header header"
                "row1testi row1testi row1testi row1testi row1testi row1testi"
                "row2testi row2testi row2testi row2testi row2testi row2testi"
                "headline headline headline headline headline headline"
                "border border border border border border"
                "footer footer footer footer footer footer";
            }

/*End Grid Styles*/

/*Logo*/
        .logo { grid-area: logo;    margin-left: 20px;}

/*End Logo*/

/*Nav */
        .nav {grid-area: nav;}

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: grid;
            height: 50px;
            grid-template: auto / repeat(5, 1fr);
            grid-gap: 20px;
            align-content: center;
        }
        nav ul li a {
            text-decoration: none;
            color: black;}

/* End Nav */

/* Buttons */

        .button {
            grid-area: buttons;
            padding-top: 30px;
            margin-top: -25px;
            margin-right: 20px;
        }

        .navbuttons {
            display: grid;
            height: auto;
            grid-template: auto / repeat(2, 1fr);

        }

        #button {
            width: 100px;
            background-color: #009fff;
            color: #ffffff;
            border: 2px solid #e7e7e7;
            border-radius: .5em;
            padding: .5em;
            font-size: 1.1em;
        }

        #button1 {
            width: 100px; 
            background-color: #ffffff;
            color: black;
            border: 2px solid lightgrey;
            border-radius: .5em;
            padding: .5em;
            font-size: 1.1em;
            margin-bottom: ;

        }
        .button .navbuttons #button a {
            text-decoration: none;
            color:white;   
            font-weight: 700;
        }
        .button .navbuttons #button1 a {
            text-decoration: none;
            color:black; 
            font-weight: 700;
    }

/* End Buttons */

/*START HEADER*/

        header {
            grid-area: header;

        }

        .header {
            grid-area: header;
            height: auto;
            background: url(../images/testimonialsRealbackground.png)no-repeat;
            background-size: cover;

        }

        .maintext {
            height: 100px;
            text-align: center;
            margin-top: 9%;
            border: none solid white;
            font-size: 4.3em;
            color: white;
            text-shadow: 5px 5px black;
        }
        .dot {
             color: #009fff;
        }

        .headerbuttonn {
        height: 70px;
            text-align: center;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .headerbutton {
            text-align: center;
            shape-margin: 10%;
            background-color: #009fff;
            color: #ffffff;
            border: 2px solid #e7e7e7;
            border-radius: .8em;
            padding: .5em;
            font-size: 1.1em;
}
        .headerbuttontext{
            color:white;
            text-decoration: none;
            font-weight: 900;
}

/* END HEADER*/

/*START OF ROW 1 TESTIMONIALS*/
.row1testi img{margin: 30px;}  
.row1testi {
     margin-top: -2.7em;
     grid-area: row1testi;
     text-align: center;

 }

 


        /*.row1testi img {margin:30px;}
        .row1testi {grid-area: row1testi;  height: 19em;  text-align: center; margin-top: -42.5px;}

/*END OF ROW 1 TESTIMONIALS*/

/*START OF ROW 2 TESTIMONIALS*/
        .row2testi img{margin: 30px;}
        .row2testi {grid-area: row2testi;  text-align: center;}

/*End OF ROW 2 TESTIMONIALS*/

        .headline {grid-area: headline;    height: 6em;    background-color: #009FFF;
                   border-bottom: 7px solid #0ab1d0;       border-top: 7px solid #0ab1d0;}

        .headline p {text-align: center;   font-family: "Mark My Words";
                     font-size: 3.5em;     color: white;
                     margin-bottom: 1em;   margin-top: .5em;}

/* Footer */

        .footer {grid-area: footer;    height: 8em;  background-color: black;}

        .footer p { color: white;  text-align: center;  font-size: 1.2em;
                    font-family: "Open Sans";           margin: 25px 0 0 0;
                    margin-right: 18px;}

        .social-media {
            margin: 0 auto;
            width: 250px;
        }

        .social-media div {
            float: left;
            margin-left: 5px;
            margin-right: 1px;
        }

        .social-media a {
            display: block;
            width: 50px;
            height: 47px;
            text-indent: -9999px;
        }

        .social-media div.one {
            background: url('../images/socialmediaiconscropped.png') 0 0;
        }

        .social-media div.two {
            background: url('../images/socialmediaiconscropped.png') -48px 0;
        }

        .social-media div.three {
            background: url('../images/socialmediaiconscropped.png') -98px 0;
        }

        .social-media div.four {
            background: url('../images/socialmediaiconscropped.png')-148px 0;
        }

/*End Footer*/






/* MEDIA QUERIES */
@media screen and (Max-width: 959px){ 
    main, header,#content {max-width: 100%;}
    main,header, #content {width: auto;}
    nav{
        width: 100%;
        height:45px;
        float: none;
        text-align: center;}
    figure {
        width: 100%;
        /*what makes image logo align cneter*/
        background-position: center;
        height: 145px;
        /*remove float that original css had*/
        float: none;}
    nav ul {
        margin: 5px;}
    header img {
        height: auto;
        max-width: 100%;}}

/*TABLET PORTRAIT MEDIA QUERY*/
@media screen and (min-width:768px)and (max-width:959px){
    .logo {
        width: 190px;
    }
    nav ul {
        font-size: .9em;
        grid-gap: 0px;
    }
    
    #Container {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
                "logo nav nav nav nav buttons"
                "header header header header header header"
                "row1testi row1testi row1testi row1testi row1testi row1testi"
                "row2testi row2testi row2testi row2testi row2testi row2testi"
                "headline headline headline headline headline headline"
                "border border border border border border"
                "footer footer footer footer footer footer";
            }
    .row1testi{
        padding-top: 30px;
    }
        .row1testi img{ 
            margin: 0px;}
        .row2testi img{
        margin: 0px;
        }
    
    
    
}
/*END TABLET PORTRAIT MEDIA QUERY*/

/*MOBILE LANDSCAPING MEDIA QUERY*/
@media screen and (min-width:480px) and (max-width:767px){
    
        #Container {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
                "logo logo"
                 "buttons buttons"
                "nav nav"
                "header header"
            "row2testi row2testi"
                "headline headline"
                "footer footer"
            }
    .row1testi {
        display: none;}
    
     .logo {
        text-align: center;
        margin-bottom: 5%;}
    
    .navbuttons {
            padding-left: 20%;;
            display: grid;
            height: auto;
            grid-template: auto / repeat(2, 1fr);

        }
    .header .maintext {
        font-size: 3em;
    }
    
   }
/*END MOBILE LANDSCAPING MEDIA QUERY*/

/*MOBILE PORTRAIT MEDIA QUERRY*/
@media screen and (max-width:479px){
    
    
    #Container {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
                "logo logo"
                 "buttons buttons"
                "nav nav"
                "header header"
            "row2testi row2testi"
                "headline headline"
                "footer footer"
            }
    .row1testi {
        display: none;}
    
     .logo {
        text-align: center;
        margin-bottom: 5%;}
    
    .navbuttons {
            padding-left: 20%;;
            display: grid;
            height: auto;
            grid-template: auto / repeat(2, 1fr);

        }
    .header .maintext {
        font-size: 3em;
    }
}
/*END MOBILE PORTRAIT MEDIA QUERRY*/

